<%= form_with model: @opening do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %><br>
    </div>
  
    <div>
      <%= form.label :description %><br>
      <%= form.text_area :description %><br>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>