<h1><%= @opening.title %></h1>

<p><%= @opening.description %></p>

<% if current_user.admin? %>
    <ul>
      <li><%= link_to "Edit", edit_opening_path(@opening) %></li>
    </ul>

    <ul>
      <li><%= link_to "Delete", opening_path(@opening), 
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></li>
    </ul>

    <% if !@opening.feedbacks.empty? %>
        <br><br>
        <h4>Feedbacks</h4>
        <% @opening.feedbacks.each do |feedback| %>
          <% @userLink= Userdetail.find_by(uuid:feedback.uid).name%>
            <p>
              <strong><%= link_to (@userLink), showDetails_path(feedback.uid) %>: </strong>
              <%= feedback.body %>
            </p>
        <% end %>
    <% end %>



        <% @users = Opportunity.where(:opid =>@opening.id) %>
        <% if !@users.empty? %>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |u| %>
                <% @userid = u.uid %>
                <% @temp=Opportunity.find_by(opid:@opening.id,uid:@userid).status%>
                <tr>
                  <td><%= Userdetail.find_by(uuid:@userid).name %> </td>
                  <td><%= Userdetail.find_by(uuid:@userid).gender %> </td>
                  <td><%= Userdetail.find_by(uuid:@userid).age %> </td>
                  <% if !@temp %>
                    <td>Pending</td>
                  <% else %>
                    <td>Approved</td>
                  <% end %>
                  <td><%= link_to "View Details", showDetails_path(@userid)%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
<% else %>

    <% if !Opportunity.where(:uid => current_user.id).where(:opid => @opening.id).exists? %>

        <%= link_to "Apply",applyForm_path(@opening)%>

        <% if !@opening.feedbacks.empty? %>
            <br><br>
            <h4>Feedbacks</h4>
            <% @opening.feedbacks.each do |feedback| %>
              <% @userLink= Userdetail.find_by(uuid:feedback.uid).name%>
              <p>
                <strong><%= link_to (@userLink), showDetails_path(feedback.uid) %>: </strong>
                <%= feedback.body %>
              </p>
            <% end %>
        <% end %>


    <% else %>
          <% @check=Opportunity.find_by(uid:current_user.id,opid:@opening.id).status%>
          Status: 
          <% if !@check %>
            Pending
          <% else %>
            Approved
          <% end %>
          <br><br>
          <%= link_to "Withdraw", withdraw_path(@opening) %>

          <% if !@opening.feedbacks.empty? %>
            <br><br>
            <h4>Feedbacks</h4>
            <% @opening.feedbacks.each do |feedback| %>
              <% @userLink= Userdetail.find_by(uuid:feedback.uid).name%>
              <p>
                <strong><%= link_to (@userLink), showDetails_path(feedback.uid) %>: </strong>
                <%= feedback.body %>
              </p>
          <% end %>
    <% end %>

    <%= form_with model: [ @opening, @opening.feedbacks.build ] do |form| %>
      <p>
        <%= form.label :Feedback %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>          

    <% end %>
<% end %>
