<h1>Hello! <%= @user.username %></h1>
<div class="row">
<div class="col-md-4 col-md-offset-4 center">
<%= gravatar_for @user, size: 150 %>
</div>
</div>
<br>
<h4>Your Email: <%= @user.email %></h4>
<h4>Name: <%= @userdetail.name %></h4>
<h4>Address: <%= @userdetail.address %></h4>
<h4>Pincode: <%= @userdetail.pincode %></h4>
<h4>Age: <%= @userdetail.age %></h4>
<h4>Gender: <%= @userdetail.gender %></h4>
<h4>Phone: <%= @userdetail.phone %></h4>


