<h5>Name: <%= @userdetail.name %></h5>
<h5>Address: <%= @userdetail.address %></h5>
<h5>Pincode: <%= @userdetail.pincode %></h5>
<h5>Age: <%= @userdetail.age %></h5>
<h5>Gender: <%= @userdetail.gender %></h5>
<h5>Phone: <%= @userdetail.phone %></h5>
