<div class="container",style:"display:inline-block">
  <div class="row">
    <div class="col-sm-3 ">  
        <h1><strong><%= User.find(@userID).username %></strong></h1>
    </div>
    <div class="col-sm-9">
        <%= gravatar_for User.find(@userID), size: 150 %>
    </div>
  </div>
</div>

<br>
<dl class="row">
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9"> <%= User.find(@userID).email %></dd>
    <%if current_user.usid? %>
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"><%= Userdetail.find_by(uuid:@userID).name %></dd>
        <dt class="col-sm-3">Age</dt>
        <dd class="col-sm-9"><%= Userdetail.find_by(uuid:@userID).age %></dd>
        <dt class="col-sm-3">Gender</dt>
        <dd class="col-sm-9"> <%= Userdetail.find_by(uuid:@userID).gender %></dd>
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9"><%= Userdetail.find_by(uuid:@userID).address %></dd>
        <dt class="col-sm-3">Pincode</dt>
        <dd class="col-sm-9"><%= Userdetail.find_by(uuid:@userID).pincode %></dd>    
        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9"><%= Userdetail.find_by(uuid:@userID).phone %></dd>
    <% end %>
</dl>



